<%= form_for [:user, @list.category, @list, @task] do |f| %>
    
    <table>
      <tbody>
        <tr>
          <td><center><strong> Nazwa: </strong></center></td>
          <td><%= f.text_field :name %></td>
        <tr>
        </tr>
          <td><center><strong> Treść: </strong></center></td>
          <td><%= f.text_field :url %></td>
        <tr>  
          <td><center><strong> Status: </strong></center></td>
          <td><%= f.check_box :status %>Zaznacz jeśli zrobione</td>
        </tr>  
          <td><center><strong> Poziom trudnosci: </strong></center></td>
          <td><%= f.text_field :level %></td>
        </tr>
        <td></td><td><center><%= f.submit "Zatwierdź"%></center></td>
      </tbody>
    </table>
<% end %>
