<center>
<h2>Edycja danych</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

  <table style="width: 600px">
    <tbody>
      <tr>
        <td><center>E-mail</center></td>
        <td><center><%= f.email_field :email, :autofocus => true %></center></td>
      </tr>
      <tr>
        <td><center>Nowe hasło</center></td>
        <td><center><%= f.password_field :password, :autocomplete => "off" %></center></td>
      </tr>
      <tr>
        <td><center>Powtórz hasło
        <td><center><%= f.password_field :password_confirmation %></center></td>
      </tr>
      <tr>
        <td><center>Aktualne hasło</center></td>
        <td><center><%= f.password_field :current_password %></center></td>
      </tr>
    </tbody>
  </table>

<%= f.submit "Aktualizuj", :class => 'button'  %>
<% end %>
<br>

<%= button_to "Usuń moje konto", registration_path(resource_name), :data => { :confirm => "Jesteś pewny?" }, :method => :delete, :class => 'button alert' %>

</center>
<br>
<%= devise_error_messages! %>

<!--   <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %> -->
