<center>
<h3>Zadanie: <%= @task.name %>&nbsp;&nbsp; <%= @task.list.category.name %>: <%= @task.list.name %></h3>
</p>

<p>
  <strong>Status:</strong>
  <% if @task.status %> 
    <font color="green"> Zrobione &nbsp;&nbsp;&nbsp;</font> 
  <% else %>
    <font color="red"> Nie zrobione &nbsp;&nbsp;&nbsp;</font>
  <% end %>
  <strong>Poziom trudności:</strong>
  <% if @task.level < 2 %>
    <font color="green"> Łatwe </font> 
  <% else %>
    <font color="red"> Trudne </font>
  <% end %> 
</p>

<br>
  <img src=<%= @task.url %> alt=<%= @task.name %>><br>
<br>

</center>

<% content_for :sidebar do %>
  <ul class="nav nav-tabs nav-stacked">
    <% for task in @task.list.tasks.sort_by{|obj| obj.id} %>
      <% if  task.level > 1 %>
        <!-- ZADANIE NIE ZROBIONE TRUDNE NA CZERWONO-->
        <li>
          <%= link_to task.name, category_list_task_path(task.list.category, task.list, task), :style => 'background-color: #F9C8C8' %></li>
      <% else %>
        <!-- ZADANIE PROSTE NIE ZROBIONE -->
        <li><%= link_to task.name, category_list_task_path(task.list.category, task.list, task) %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>