<center>
<h3>Zadanie: <%= @task.name %>&nbsp;&nbsp; <%= @categories[@lists[@task.list_id].category_id].name %>: <%= @lists[@task.list_id].name %></h3>
</p>

<p>
  <strong>Status:</strong>
  <% if @task.status %> 
  	<font color="green"> Zrobione &nbsp;&nbsp;&nbsp;</font> 
  <% else %>
  	<font color="red"> Nie zrobione &nbsp;&nbsp;&nbsp;</font>
  <% end %>
  <strong>Poziom trudności:</strong>
  <% if @task.level < 2 %>
  	<font color="green"> Łatwe </font> 
  <% else %>
  	<font color="red"> Trudne </font>
  <% end %> 
</p>

<img src=<%= @task.url %> alt=<%= @task.name %>>

</center>