<center>
<h3>Zadanie: <%= @task.name %>&nbsp;&nbsp; <%= @category.name %>: <%= @list.name %></h3>
</p>

<p>
  <% if user_signed_in? %>
    <strong>Status:</strong>
    <% if current_user.task_done?(@task)  %>
      <% if current_user.is_verified_solution?(@task) %>
        <font color="green"> Zrobione sprawdzone &nbsp;&nbsp;&nbsp;</font>
      <% else %>
        <font color="#ff8c00"> Zrobione niesprawdzone &nbsp;&nbsp;&nbsp;</font>
      <% end %>
    <% else %>
      <font color="red"> Nie zrobione &nbsp;&nbsp;&nbsp;</font>
    <% end %>
  <% end %>
  <strong>Poziom trudności:</strong>
  <% if @task.level < 2 %>
    <font color="green"> Łatwe </font> 
  <% else %>
    <font color="red"> Trudne </font>
  <% end %>
  <br>
  <strong>Liczba rozwiązań:</strong>
  <% if @task.solutions.empty? %>
      <font color="red"> brak </font>
  <% else %>
      <font color="green"> <%= @task.solutions.size %> </font>
  <% end %>
</p>

<br>
  <img src=<%= @task.url %> alt=<%= @task.name %>><br>
<br>
<% if user_signed_in? %>
      <% if current_user.task_done?(@task)  %>
        <strong> <span class="icon ok"/> <font color="green"> Zadanie zrobione &nbsp;&nbsp;&nbsp;</font> </strong>
        <a href=<%= im_done_cancel_subject_category_list_task_path(@subject, @category, @list, @task)  %> class="button alert small"><span class="icon remove"></span>Anuluj</a>
        <a href=<%= subject_category_list_task_solutions_path(@subject, @category, @list, @task)  %> class="button secondary small"><span class="icon book"></span>Zobacz wszystkie rozwiazania</a>
        <p>
          <% if solution = @task.solutions.where(:user => current_user).first %>
            <p><img src=<%=solution.url %> ></p>
            <%= link_to [:user, @subject, @category, @list, @task, solution], method: :delete, data: { confirm: 'Jesteś pewny?' }, class: "button alert" do %>
              <span class="icon remove"></span>
              Usuń rozwiazanie
            <% end %>
          <% elsif @task.solutions.empty? %>
            <%= render 'form' %>
          <% else%>
            <%= render 'form' %>
            <p><center>
                Rozwiązanie dodane przez:
                <strong><%= @task.solutions.first.user.email.split("@").first.upcase %></strong>
            </center></p>
            <p style="margin-top: 10px;"><img src=<%=@task.solutions.first.url %> ></p>
          <% end %>
        </p>
    <% else %>
        <% if current_user.task_too_hard?(@task) %>
          <strong> <span class="icon warning-sign"/> <font color="red"> Zadanie za trudne &nbsp;&nbsp;&nbsp;</font> </strong>
          <a href=<%= too_hard_cancel_subject_category_list_task_path(@subject, @category, @list, @task)   %> class="button alert small"><span class="icon remove"></span>Anuluj</a>
          <a href=<%= subject_category_list_task_solutions_path(@subject, @category, @list, @task)  %> class="button secondary small"><span class="icon book"></span>Zobacz wszystkie rozwiazania</a>
          <% if @task.solutions.present? %>
              <p><center>
                  Rozwiązanie dodane przez:
                  <strong><%= @task.solutions.first.user.email.split("@").first.upcase %></strong>
              </center></p>
              <p style="margin-top: 10px;"><img src=<%=@task.solutions.first.url %> ></p>
          <% end %>
        <% else %>
          <a href='#' class="button success normal" data-toggle="modal" data-target="#isVerifiedSolution"><span class="icon ok"></span>Zrobione</a>
          <a href=<%= too_hard_subject_category_list_task_path(@subject, @category, @list, @task)   %> class="button info normal"><span class="icon warning-sign"></span>Za trudne</a>
        <% end %>
      <% end %>
<% end %>

</center>

<% content_for :sidebar do %>
  <center><h5><strong> <%= @task.list.category.name %>: <%= @task.list.name %> </strong></h5></center><br>
  <ul class="nav nav-tabs nav-stacked">
    <% if user_signed_in? %>
        <% for task in @task.list.tasks.sort_by{|obj| obj.name.to_s} %>
          <% if  current_user.task_done?(task) %>
            <% if current_user.is_verified_solution?(task) %>
                <!-- ZADANIE ZROBIONE PRZEZ CIEBIE SPRAWDZONE NA ZIELONO -->
                <li>
                  <%= link_to task.name, subject_category_list_task_path(@subject ,task.list.category, task.list, task), :style => 'background-color: #A5D28C' %></li>
            <% else %>
                <!-- ZADANIE ZROBIONE PRZEZ CIEBIE  NIESPRAWDZONE NA ZIELONO -->
                <li>
                  <%= link_to task.name, subject_category_list_task_path(@subject ,task.list.category, task.list, task), :style => 'background-color: #F5B24E' %></li>
            <% end %>
          <% elsif current_user.task_too_hard?(task) %>
            <!-- ZADANIE OZNACZONE PRZEZ CIEBIE JAKO ZA TRUDNE NA NIEBIESKO-->
            <li>
              <%= link_to task.name, subject_category_list_task_path(@subject ,task.list.category, task.list, task), :style => 'background-color: #85A7FA' %></li>
          <% elsif  task.level != nil && task.level > 1 %>
            <!-- ZADANIE NIE ZROBIONE TRUDNE NA CZERWONO-->
            <li>
              <%= link_to task.name, subject_category_list_task_path(@subject ,task.list.category, task.list, task), :style => 'background-color: #F9C8C8' %>
              </li>
          <% else %>
            <!-- ZADANIE PROSTE NIE ZROBIONE -->
            <li><%= link_to task.name, subject_category_list_task_path(@subject ,task.list.category, task.list, task) %></li>
          <% end %>
        <% end %>
    <% else %> 
        <% for task in @task.list.tasks.sort_by{|obj| obj.name.to_i} %>
            <% if  task.level > 1 %>
              <!-- ZADANIE TRUDNE NA CZERWONO-->
              <li>
                <%= link_to task.name, subject_category_list_task_path(@subject ,task.list.category, task.list, task), :style => 'background-color: #F9C8C8' %></li>
            <% else %>
              <!-- ZADANIE PROSTE -->
              <li><%= link_to task.name, subject_category_list_task_path(@subject ,task.list.category, task.list, task) %></li>
            <% end %>
          <% end %>
    <% end %>
  </ul>
<% end %>

<!-- Modal -->
<div class="modal fade" id="isVerifiedSolution" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        Jesteś pewny, że Twoje rozwiązanie jest poprawne?
      </div>
      <div class="modal-footer">
        <a href=<%= im_done_subject_category_list_task_path(@subject, @category, @list, @task)   %> class="button alert small" style="margin-bottom: 0px;">Nie</a>
        <a href=<%= im_sure_done_subject_category_list_task_path(@subject, @category, @list, @task)   %> class="button success small" >Tak</a>
      </div>
    </div>
  </div>
</div>