  <center><strong><h3>Ranking</h3></strong></center>

<table>
  <thead>
    <tr>
      <th>Miejsce</th>
      <th>Nazwa</th>
      <th>Przygotowanie</th>
      <th>Zrobione zadania</th>
    </tr>
  </thead>

  <tbody>
    <% @rating.each_with_index do |user, index| %>
      <tr>
       <td><center><%= index+1 %></center></td>
       <td><center><%= user.email.split("@").first.upcase %></center></td>
       <td><center><%= user.task_counter %> %</center></td>
       <td><center><%= user.progresses.size %> / <%= @tasks_size %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<center><strong><h3>Postęp</h3></strong></center>

<table>

  <tbody>
    <% @category.lists.sort_by{|obj| obj.name.to_i}.each do |list| %>
      <tr>
        <td style="background-color: yellow; border-style:solid;border-width:1px;">
          <center><strong>
            <%= list.name %>
          </strong></center>
        </td>
        <% list.tasks.sort_by{|obj| obj.name.to_i}.each do |task| %>
          <% if  task.status %>
            <!-- ZADANIE ZROBIONE PRZEZ CIEBIE NA ZIELONO -->
            <td style='background-color: #A5D28C; border-style:solid;border-width:1px;'>
          <% elsif  task.too_hard? %>
            <!-- ZADANIE ZA TRUDNE NA NIEBIESKO -->
            <td style='background-color: #85A7FA; border-style:solid;border-width:1px;'>
          <% elsif  task.level != nil && task.level > 1 %>
            <!-- ZADANIE NIE ZROBIONE TRUDNE NA CZERWONO-->
            <td style='background-color: #F9C8C8; border-style:solid;border-width:1px;'>
          <% else %>
            <!-- ZADANIE PROSTE NIE ZROBIONE -->
            <td style='background-color: #FFFFFF; border-style:solid;border-width:1px;'>
          <% end %>
              <center>
              <%= link_to task.name, category_list_task_path(task.list.category, task.list, task) %>
              </center>
            </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>