<center><h3>Lista trudnych zadań</h3></center>
<table>
  <thead>
    <tr>
      <th>Kategoria</th>
      <th>Lista</th>
      <th>Zadanie</th>
      <th>Zgłoszone przez</th>
    </tr>
  </thead>

  <tbody>
    <% if @noprogresses.uniq!(&:task_id).empty? %>
      <tr>
        <td><center> Brak trudnych zadań! :) </center></td>
      </tr>
    <% end %>
    <% @noprogresses.uniq!(&:task_id).each do |noprogress| %>
      <tr>
        <td><center><%= noprogress.task.list.category.name %></center></td>
        <td><center><%= noprogress.task.list.name %></center></td>
        <td><center><strong><%= link_to noprogress.task.name, subject_category_list_task_path(@subject, noprogress.task.list.category, noprogress.task.list, noprogress.task) %></strong></center></td>
        <td><center><%= noprogress.user.email.split("@").first.upcase %></center></td>
      </tr>
    <% end %>
  </tbody>
</table>

<center>
  <a href=<%= root_url %> class="button secondary"></span>Wróć</a>
</center>