<h1>Lista kategorii</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><center><%= category.name %></center></td>
        <td><%= link_to 'Pokaż', user_category_path(category) %></td>
        <td><%= link_to 'Edytuj', edit_user_category_path(category) %></td>
        <td><%= link_to 'Usuń', [:user,category], method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3> Dodaj nową kategorię</h3>
<%= render 'form' %> 
