<h1>Lista kategorii</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
  <% if @categories.empty? %>
    <tr>
      <td><center> Brak kategorii </center></td>
    </tr>
  <% end %>
    <% @categories.each do |category| %>
      <tr>
        <td><center><%= category.name %></center></td>
        <td><%= link_to 'Pokaż', user_subject_category_path(@subject, category) %></td>
        <td><%= link_to 'Edytuj', edit_user_subject_category_path(@subject, category) %></td>
        <td><%= link_to 'Usuń', [:user, @subject, category], method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3> Dodaj nową kategorię</h3>
<%= render 'form' %> 
