
<h1><%= @category.name %></h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @category.lists.each do |list| %>
      <tr>
        <td><center><%= list.name %></center></td>
        <td><%= link_to 'Pokaż', user_category_list_path(@category, list) %></td>
        <td><%= link_to 'Edytuj', edit_user_category_list_path(@category, list) %></td>
        <td><%= link_to 'Usuń', [:user, @category, list], method: :delete, data: { confirm: 'Jesteś pewny?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3> Dodaj nowy rekord</h3>
<%= render '/user/lists/form' %>

<center>
  <a href=<%= user_categories_path %> class="button secondary"></span>Wróć</a>
</center>
